[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=simple
ExecStart=/opt/emacs26/bin/emacs --fg-daemon
ExecStop=/opt/emacs26/bin/emacsclient --eval "(kill-emacs)"
Environment=SSH_AUTH_SOCK=%t/keyring/ssh
Environment="LC_CTYPE=zh_CN.UTF-8" "XMODIFIERS=@im=fcitx"
Environment="PATH=%h/.local/bin:%h/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games:/usr/local/MATLAB/R2011b/bin:/opt/emacs26/bin"

Restart=on-failure

[Install]
WantedBy=default.target
