/.emacs.bmk
/.emacs.desktop.lock
/.mc-lists.el
/.org-id-locations
/.projectile
/.session
/ac-comphist.dat
/auto-save-list/
/elpa/
/emacs-desktop
/emms/
/helm-adaptive-history
/image-dired/
/projectile-bookmarks.eld
/projectile.cache
/tramp
/.emacs.desktop
/.emms-history
/eshell/
/history
/saved-perspectives.el
/thumbs/
/url/
/server/
/recentf
/.saves/
/semanticdb/
/srecode-map.el
/pyim/
/places
/bookmarks
/request/
*.elc
/lisp/autoloads.el
/eaf/
/network-security.data
/transient/history.el
/var/
/elpy/
/.python-environments/
