[submodule "site-lisp/org-protocol-capture-html"]
	path = site-lisp/org-protocol-capture-html
	url = https://github.com/hitswint/org-protocol-capture-html
[submodule "site-lisp/emacs-application-framework"]
	path = site-lisp/emacs-application-framework
	url = https://github.com/manateelazycat/emacs-application-framework/
[submodule "site-lisp/annot"]
	path = site-lisp/annot
	url = https://github.com/ghoshi/annot
[submodule "site-lisp/company-english-helper"]
	path = site-lisp/company-english-helper
	url = https://github.com/manateelazycat/company-english-helper
