[submodule "site-lisp/org-protocol-capture-html"]
	path = site-lisp/org-protocol-capture-html
	url = https://github.com/hitswint/org-protocol-capture-html
[submodule "site-lisp/perspective"]
	path = site-lisp/perspective
	url = https://github.com/john2x/perspective-el
